body{
  font-family: Arial;
  background:#0b0f1a;
  color:white;
  text-align:center;
  padding:20px;
}

.container{
  max-width:300px;
  margin:auto;
}

input{
  width:100%;
  padding:12px;
  margin:10px 0;
  border:none;
  border-radius:8px;
}

button{
  width:100%;
  padding:12px;
  background:#4caf50;
  border:none;
  color:white;
  border-radius:8px;
}
table{
  width:100%;
  border-collapse:collapse;
  margin-top:20px;
}

th, td{
  border:1px solid #444;
  padding:10px;
}

th{
  background:#4caf50;
}
